<% layout("/layouts/boilerplate") %>

    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-3">
      <% for(let event of allEvents) { %>
        <a href="/events/<%= event._id %>" class="listing-links">
          <div class="card listing-card">
            <img class="card-img-top" src="<%= event.image %>" alt="cardimg" style="height: 20rem;">
            <div class="card-img-overlay"></div>
            <div class="card-body">
              <p class="card-text">
                <b>
                  <%= event.title %>
                </b><br>
                <i class="fa-solid fa-location-dot"></i> <%= event.date %>
                <br>
                <%= event.time %>

              </p>
               
            </div>
          </div>
        </a>

        <% } %>
    </div>
  </body>
  