<% layout("/layouts/boilerplate") %>
  <body class="show-page-bg">
    <div class="row mt-3 offset-3">
      <div class="col-8 show-page">
        <h3><%= cafeInfo.title %></h3>
      </div>
      <div class="col-md-10 col-lg-8 col-sm-12 show-page">
        <div class="card listing-card">
          <img class="card-img-top show-img" src=<%= cafeInfo.image %> alt="cardimg">
          <div class="card-body">
            <p class="card-text"> Owned by <b><%= cafeInfo.owner.username %></b></p>
            <p class="card-text"> <%= cafeInfo.description %></p>
            <p class="card-text"><i class="fa-solid fa-phone"></i> <%= cafeInfo.phone %></p>
            <p class="card-text">cafe location: <%= cafeInfo.location %></p> 
            <p class="card-text">country: <%= cafeInfo.country %></p>  
          </div>
        </div>
      </div>
    </div>

    <div class="col-8 offset-3" >
      <% if(cafeInfo.reviews.length>0){%>
        <div class="row">
          <p><b>All reviews</b></p>
          <% for(review of cafeInfo.reviews){ %>
            <div class="card col-5 ms-2 mb-3">
              <div class="card-body">
                <h5 class="card-title">@<%= review.author.username %></h5>
                <p class="starability-result card-text" data-rating="<%= review.rating %>"></p>
                <p class="cart-text"><%= review.comment %></p>
              </div>
            </div>
          <% } %>
        </div>
        <%}%>
  </body>
